.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0.5em 0;
}

.table tfoot tr th input {
    width: 100%
}

.modal-body {
    overflow: hidden;
}

.td-key {
    padding-right: 5px;
}